/* div .customsvg {
	height: 100vh;
	width: 100vw;
} */

@keyframes my-animation {
	0% {
		filter: none;
	}
	20% {
		filter: url(#filter);
	}
	50% {
		filter: url(#filter-2);
	}
	80% {
		filter: url(#filter-3);
	}
	94% {
		filter: none;
	}

}

#my-image {
	filter: url(#filter);
	animation: 0.4s my-animation alternate;
	animation-delay: .5s;
	animation-iteration-count: 4;
	animation-fill-mode: forwards;
}


.project-ellipsis {
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@import "~react-image-gallery/styles/css/image-gallery.css";



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.skills-container{
		width: 50% !important;
	}

	.projects-container{
		width: 50% !important;
	}

	.projects-parent-container{
		height: 100%;
	}

	.aboutme-header{
		width: 50% !important;
	}

	.contactme-header{
		width: 50% !important;
	}

	.custom-border-end{
		border-right: 1px solid rgb(0, 0, 0);
		
	}
   
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }

