/* div .customsvg {
	height: 100vh;
	width: 100vw;
} */

@keyframes my-animation {
	0% {
		filter: none;
	}
	20% {
		filter: url(#filter);
	}
	50% {
		filter: url(#filter-2);
	}
	80% {
		filter: url(#filter-3);
	}
	94% {
		filter: none;
	}

}

#my-image {
	filter: url(#filter);
	animation: 0.4s my-animation alternate;
	animation-delay: .5s;
	animation-iteration-count: 4;
	animation-fill-mode: forwards;
}